<div id="<%= dom_id reply %>">
  <% if action_name != "show" %>
    <%= link_to "Show this reply", reply, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this reply', edit_reply_path(reply), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
