<%= content_for :title_section do %>
  <title>Find Friends</title>
<% end %>


<div class="relative md:p-0 w-full h-full lg:w-80p flex flex-col sm:flex-row gap-2 lg:px-2 mx-auto">
  <%= render 'shared/nav' %>

  <main role="main" class="sm:gap-2 md:gap-1 h-full w-full overflow-x-hidden sm:max-w-sm">
    <section class="bg-white sm:overflow-y-auto sm:max-h-screen dark:bg-dark-onPrimary max-w-xl w-full">
      <%= render @users, { follows: false } %>
    </section>

    <%= render 'shared/side' %>
  </main>
</div>
