<aside class="flex-1 hidden sm:min-w-160px md:inline-block min-w-90 bg-gray-200 dark:bg-dark-primary">
	<div class="overflow-y-auto h-screen">
		<div class="bg-white dark:bg-dark-onPrimary max-w-sm rounded-lg bg-dim-700 overflow-hidden shadow-sm lg:m-4 md:mt-2">
			<h2 class="px-4 py-2 text-dark-primary text-opacity-70 dark:text-white text-xl font-semibold ">People you may know</h2>

			<div class="flex flex-shrink-1">
				<%= turbo_frame_tag 'users', src: users_path(limit: 4), loading: :lazy do %>
					<i class="bx bx-md bx-rotate-right bx-spin"></i>
				<% end %>
			</div>
		</div>
	</div>
</aside>
