<ul class="p-2 mt-1 text-gray-600 bg-white shadow-sm flex justify-between items-center sticky inset-0" data-controller="application">
	<span class="bx bx-sm bxs-left-arrow-circle p-1" data-action="click->application#redirectBack"></span>

	<li> <a class="underline font-base p-1" >Private</a> </i>
	<li> <a class="p-1" href="">Groups</a> </i>
	<li> <a class="p-1" href="">Channels</a> </i>
</ul>
