<div class="root sm:w-full xl:w-desktop bg-gray-100 h-full w-70 m-auto">
  <div class="bg-white h-full overflow-y-scroll divide-y divide-gray-10" data-controller="user">
    <i class="m-2 bx bxs-left-arrow-circle bx-sm text-tint" data-action="click->user#redirectBack"></i>
    <%= render @users %>
  </div>
</div>
